<h1> Every little bit helps! </h1>
<br>
<br>
<div class="accordion vertical">
    <section id="Online" style= "height:auto">
        <h2 style ="height:auto">  
            <a href="#Online" style ="height:auto">Donate using Paypal </a>  </h2>
        <p>
            Even 10$ would help!<br>
            <br>
            <a href="https://www.paypal.com/home"  class=admin-link>Paypal Page</a>
                <!-- this is a get resquest, add the argument call method to deal with delete (on surface a get but rails treats this as delete)--> <!-- "#" use a # as a dummy link-->
        </p>  
    </section> 

        <section id="ByCheque" style= "height:auto">
        <h2 style ="height:auto">  <a href="#ByCheque" style ="height:auto">Donate By Cheque</a>  </h2>
        <p>
            Make the cheque out to: ______<br>
            <br>
            Mail to:<br>
             _________<br>
             _________<br>
             _________<br>
            <br>
            Or in person.
        </p>  
    </section> 

        <section id="Items" style= "height:auto">
        <h2 style ="height:auto">  <a href="#Items" style ="height:auto">Donate Items</a>  </h2>
        <p>
            We are currently in need of:<br>
            _______<br>
            _______<br>
            _______<br>
            _______<br>
        </p>  
    </section> 
 </div>
 <br>
 <br>
 <%= "Or hop on over to the " %>
 <%= link_to "Volunteer", volunteer_path, class: "reg-link" %>
 <%= "or " %>
 <%= link_to "Foster", foster_path, class: "reg-link" %>
 <%= " page to donate time instead!" %>