<head>
<style> 
.subcontent{
	margin: 0;
            padding: 0;
            width:100%;
            min-height: 300px;
}
.policy
{
 position: relative;
            margin-right: 0px;

            width:47%;
            float:left;
            min-height:300px;
            border:5px outset #3B3835;
}
.openings
{
 float: right;
            text-align: left;
            width: 47%;
            min-height:300px;
            float:right;
            border:5px inset #3B3835;

}


</style>
</head>

<h1><%= "Welcome to the foster page!"%></h1>

<p>
	<br>
	<br>
	<%= link_to image_tag("Order_form.png", :size => "45x60"), fosterForm_path %>
	<br>
	<%= link_to "Foster Application Form", fosterForm_path, class: "reg-link"%>
	<br>
	<br>
	Definition of Fostering: ____________________________________________
	<br>
	<br>
	<div class ="subcontent">
	<div class = "policy" style ="float:left">
		<br>
		Policies...
		<br>
		<ul>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
	</ul>
	</div>
	<div class = "openings" style="float:right">
		<br>
		Duties of fosterers...
		<br>
		<ul>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<li> _______________</li>
		<br>
	</ul>
	</div>
</div>
	<br>
	<br>
	<%= "...or " %>
 <%= link_to "Volunteer", volunteer_path, class: "reg-link" %>
 <%= " instead!" %>

</p>