<head>
<style> 
.policy
{
border:4px solid #000;

width:50%;

}
.openings
{
	border:4px solid #000;
width:50%;
}


</style>
</head>

<h2><%= "Welcome to the VOLUNTEER page!"%></h2>

<p>
	<br>
	<br>
	<%= link_to image_tag("Order_form.png", :size => "45x60"), "http://www.google.com"%>
	<br>
	<%= link_to "Volunteer Application Form", "http://www.google.com"%>

	<br>
	<br>

	<div class = "policy">
		Policies...
		<br>
		You must be over the age of 13, and your parents must give explicit consent if you are under the age of 18.
	</div>
<br>
<br>
	<div class = "openings">
		<br>
		Openings...
		<br>
		_____ __ _____
		<br>
		_____ __ _____
		<br>
		_____ __ _____
		<br>
		_____ __ _____
		<br>
	</div>

	<br>
	<%= "...or " %>
	<%= link_to "Foster", foster_path, class: "reg-link" %>
	<%= " instead!" %>

		</p>