<h2><%= "Welcome to the VOLUNTEER page!"%></h2>

<p>
	<br>
	<br>
	<%= link_to image_tag("Order_form.png", :size => "45x60"), "http://www.google.com"%>
	<br>
	Volunteer Application Form
	<br>
	<br>
	Definition of Fostering:
	<br>
	<br>
	Policies...
	<br>
	<br>
	Openings...
	<br>
	<br>
	<%= "...or " %>
	<%= link_to "Foster", foster_path, class: "reg-link" %>
	<%= " instead!" %>

		</p>