
<div class ="animal-post">

<%# Add each animal to the accordion table /#%>
<div class="accordion vertical">
    <section id="<%= animal_post.id %>">
        <h2>  <a href="#<%= animal_post.id %>"><%= animal_post.title %> </a>  </h2>
        <p>
        	<%= animal_post.body %><br>
        	<%= link_to "Edit Animal Post with ID:  #{animal_post.id}", edit_animal_post_path(animal_post) %>

			<%= link_to "destroy",						 
				animal_post, method: :delete,  
				confirm: "Are you sure you want to delete this news post? " %>
				<!-- this is a get resquest, add the argument call method to deal with delete (on surface a get but rails treats this as delete)--> <!-- "#" use a # as a dummy link-->

		</p>  
   	</section> 
</div>
</div>
</li>

