
<div class ="animal-post">

<%# Add each animal to the accordion table /#%>

    <section id="<%= animal_post.id %>">
        <h2>  <a href="#<%= animal_post.id %>"  ><%= animal_post.name %> </a>  
       <!a href="#<%= animal_post.id %>" ><%#= animal_post.birth %> </a>   
         <!a href="#<%= animal_post.id %>" ><%#= animal_post.vaccinated %> </a>     
        <!a href="#<%= animal_post.id %>" ><%#= animal_post.fertile %> </a>   
        </h2>   
        <p>
        	<%= animal_post.description %><br>
            <br>
            <br>

            <% if admin? %>
        	   <%= link_to "Edit Animal Post", edit_animal_post_path(animal_post), class: "reg-link"  %>
               <br>
			     <%= link_to "Remove Animal Post",						 
				    animal_post, class: "reg-link" , method: :delete,  
				        confirm: "Are you sure you want to delete this news post? " %>
				    <!-- this is a get resquest, add the argument call method to deal with delete (on surface a get but rails treats this as delete)--> <!-- "#" use a # as a dummy link-->
            <% end %>
            
		</p>  
   	</section> 
</div>

