
<div class ="animal-post">

<%# Add each animal to the accordion table /#%>

    <section id="<%= animal_post.id %>">
        <h2>  <a href="#<%= animal_post.id %>"  > 
                            <! Picture of Animal >
                            <b style = "padding-left: 3px"> <%= image_tag("#{animal_post.name}.jpg", :size => "100x75")%> </b>

                            <! Name of Animal >
                            <b style= "font-weight: bold"> <%= animal_post.name %> </b>
                            
                            <! Age of Animal >
                            <b>  
                                <% number_of_days = (Date.today - animal_post.birth).to_i %>
                                <% number_of_years = (number_of_days /360).to_i %>

                                    <% if number_of_years == 1 %>
                                        <%= "%d year old" % number_of_years %>
                                    <% elsif number_of_years > 0 %>
                                        <%= "%d years old" % number_of_years %>
                                    <% end %>

                                    <% if number_of_years == 0 %>
                                        <% days_left = (number_of_days - (360*number_of_years)).to_i %>
                                        <% number_of_months = days_left / 30 %>

                                        <% if number_of_months == 1 %>
                                            <%= "%d month old" % number_of_months %>
                                        <% elsif number_of_months > 0 %>
                                            <%= "%d months old" % number_of_months %>
                                        <% end %>
                                    <% end %>

                                    <% if (number_of_years == 0) && (number_of_months == 0) %>
                                        <% number_of_weeks = ((days_left - (30*number_of_months)) / 7).to_i %>

                                        <% if number_of_weeks == 1 %>
                                            <%= "%d week old" % number_of_weeks%>
                                        <% elsif number_of_weeks > 0 %>
                                            <%= "%d weeks old" % number_of_weeks%>
                                        <% end %>
                                    <% end %>
                                </b>

                                <! Vaccination of Animal >
                                <b>  
                                    <% if animal_post.vaccinated == "yes" %>
                                        <%= "Vaccinated" %>
                                    <% else %>
                                        <%= "Unvaccinated" %>
                                    <% end %>
                                 </b>

                                 <! Fertility of Animal >
                                <b style="width:170px">  
                                    <% if animal_post.fertile == "yes" %>
                                        <%= "Spayed / Neutered" %>
                                    <% else %>
                                        <%= "Not Spayed / Neutered" %>
                                    <% end %> 
                                </b>
                        </a>
                        
        </h2>   
        <p>
            <%= simple_format( animal_post.description) %><br>
            <br>
            <br>

            <% if admin? %>
               <%= link_to "Edit Animal Post", edit_animal_post_path(animal_post), class: "reg-link"  %>
               <br>
                 <%= link_to "Remove Animal Post",                       
                    animal_post, class: "reg-link" , method: :delete,  
                        confirm: "Are you sure you want to delete this animal post? " %>
                    <!-- this is a get resquest, add the argument call method to deal with delete (on surface a get but rails treats this as delete)--> <!-- "#" use a # as a dummy link-->
            <% end %>
            
        </p>  
    </section> 
</div>

