<%=	form_for @animal_post do |f| %> 

	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title %><br>
	</div>

	<div>
		<%= f.label :body %><br>
		<%= f.text_field :body %><br>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>
