<%=	form_for @animal_post do |f| %> 

	<div>
		<%= f.label :name %><br>
		<%= f.text_field :name %><br>
	</div>

	<div>
		<%= f.label :description %><br>
		<%= f.text_field :description %><br>
	</div>

	<div>
		<%= f.label :birth %><br>
		<%= f.text_field :birth %><br>
	</div>

	<div>
		<%= f.label :vaccinated %><br>
		<%= f.text_field :vaccinated %><br>
	</div>

	<div>
		<%= f.label :fertile %><br>
		<%= f.text_field :fertile %><br>
	</div>

	<div>
		<%= f.submit %>
	</div>

<% end %>
