
<div class ="event-post">

<%# Add each animal to the accordion table /#%>

    <section id="<%= event_post.id %>">
        <h2 style="width:100%;height:100%">  <a href="#<%= event_post.id %>" style="width:100%;height:100%"> 

            <b style="font-weight:bold"><%= event_post.title %></b>
            <b><%= event_post.date %></b>
            <b><%= event_post.location %></b>
                        </a>
                        
        </h2>   
        <p>
            <%= simple_format( event_post.description) %><br>
            <br>
            <br>

            <% if admin? %>
               <%= link_to "Edit Event Post", edit_event_post_path(event_post), class: "admin-link"  %>
               <br>
                 <%= link_to "Remove Event Post",                       
                    event_post, class: "admin-link" , method: :delete,  
                        confirm: "Are you sure you want to delete this event post? " %>
                    <!-- this is a get resquest, add the argument call method to deal with delete (on surface a get but rails treats this as delete)--> <!-- "#" use a # as a dummy link-->
            <% end %>
            
        </p>  
    </section> 
</div>

