<%=	form_for @event_post do |f| %> 
<div class = container>
	<div>
		<%= f.label :title %><br>
		<%= f.text_field :title %><br>
	</div>

	<div>
		<%= f.label :description %><br>
		<%= f.text_area :description %><br>
	</div>

	

	<div>
		<%= f.submit %>
	</div>
</div>
<% end %>
