<!DOCTYPE html>
<html>
<head>
  <title>PetAdoption</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header" id="header">
		<div class ="container" id="header-container">
			<%= image_tag("dog_silhouette1.png", :size => "45x60")%>
			<%= "Cat & Dog Rescue" %>
			<%= image_tag("cat_silhouette.png", :size => "80x60")%>

		</div>
		
	</div>

<nav id='nav_bar'>
	<div class="navigation">
		<div class ="container" >
			<!---<%= image_tag "dog_silhouette.png"%> ADD LOGO PHOTO HERE-->
			<%= link_to "Home", root_path, class: "nav-link" %>
			<%= link_to "Adopt Us", animal_posts_path, class: "nav-link" %>
			<%= link_to "Volunteer", volunteer_path, class: "nav-link" %>
			<%= link_to "Foster", foster_path, class: "nav-link" %>
			<%= link_to "Donate", donate_path, class: "nav-link" %>
			<%= link_to "About", about_path, class: "nav-link" %>
			<% unless user_signed_in? %> <!--unless is equal to if not-->
				<%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
			<% end %>
			<% if user_signed_in? %>
				<% if admin? %>
				<%= link_to "Sign Out (Logged in as: Admin)", destroy_user_session_path, 
							method: :delete, class: "nav-link" %>
							<% else %>
							<%= link_to "Sign Out (Logged in as: Regular User)", destroy_user_session_path, 
							method: :delete, class: "nav-link" %>
							<% end %>

			<% end %>

		</div>
	</nav>

	</div>

	<div class="content">
		
			
			<%= yield %>

		
	</div>

	<footer id="footer">
		<div class = "container">
	
			<br>
			<h2> <%= "Contact Us" %></br> </h1>
			<%= "Phone Number: ____________" %></br>
			<%= "Email: ____________________" %></br>
			<%= "Address: __________________" %></br>
			<br>
		</div>
	</div>

</body>
</html>
