<!DOCTYPE html>
<html>
<head>
  <title>PetAdoption</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div class="header" id="header">
		<div class ="container" id="header-container">
			<%= "Name of Organization" %>

		</div>
		
	</div>


	<div class="navigation">
		<div class ="container" >
			<!---<%= image_tag "dog_silhouette.png"%> ADD LOGO PHOTO HERE-->
			<%= link_to "Home", root_path, class: "nav-link" %>
			<%= link_to "Adopt Us", animal_posts_path, class: "nav-link" %>
			<%= link_to "Volunteer", volunteer_path, class: "nav-link" %>
			<%= link_to "Foster", foster_path, class: "nav-link" %>
			<%= link_to "Donate", donate_path, class: "nav-link" %>
			<% if user_signed_in? %>
				<% if admin? %>
				<%= link_to "Sign Out (Logged in as: Admin)", destroy_user_session_path, 
							method: :delete, class: "nav-link" %>
							<% else %>
							<%= link_to "Sign Out (Logged in as: Regular User)", destroy_user_session_path, 
							method: :delete, class: "nav-link" %>
							<% end %>

			<% end %>

		</div>

	</div>

	<div class="content">
		<div class ="container">
			<%= yield %>
		</div>
	</div>

	<div class="footer">
		<div class ="container">
			<%= "Contact Us" %></br>
			<%= "Phone Number:" %></br>
			<%= "Email:" %></br>
			<%= "Address:" %></br>
		</div>
	</div>

</body>
</html>
